{{!-- <div class="card">

    {{!-- название страны --}}
    <h2 class="card-title">{{name}}</h2>

    {{!-- разметка карточки --}}
    <div class="card-body">
        <p class="card-text"><span class="card-text-key">Capital:</span> {{capital}}</p>
        <p class="card-text"><span class="card-text-key">Papulation:</span> {{population}}</p>
        <p class="card-text"><span class="card-text-key">Languages:</span> </p>

        <ul class="list-group card-text-key">
            {{#each languages}}
            <li class="list-group-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    {{!-- флаг --}}
    <div class="card-img">
        <img src="{{flag}}" alt="{{capital}} flag" width="760" height="360">
    </div>

</div> --}}

{{#each this}}
<div class="wrapper">
    {{!-- название страны --}}
    <h1 class="card__name">{{name}}</h1>
    {{!-- разметка карточки --}}
    <div class="card">
        <div class="card__description">
            <p class="card__text">Capital: <span class="card__text-wrapper">{{capital}}</span></p>
            <p class="card__text">Population: <span class="card__text-wrapper">{{population}}</span></p>
            <p class="card__text">Languages:</p>
            <ul class="card__text card__list">
                {{#each languages}}
                <li class="card__item"><span class="card__text-wrapper">{{name}}</span></li>
                {{/each}}
            </ul>
        </div>
        {{!-- флаг --}}
        <div class="card__image-wrapper">
            <img src="{{flag}}" alt="{{name}}" class="card__image" />
        </div>
    </div>
</div>
{{/each}}